.wrapper {
  -webkit-transform: all 0.6s;
          transform: all 0.6s;
  list-style: none;
  margin: 0;
  padding: 0;
  background: #c6538c;
  color: #4c00ff;
  display: -webkit-box;
  display: flex;
}

/* sfc-style-block-0 */
.test[data-v-7725077e] {
  background: #ddd;
}