@import-normalize;
@import "./var.scss";
@import "./mixin.scss";


.common {
  color: #ddd;
}

@keyframes test {
  from {
    background-color: rgb(234, 238, 12);
  }

  to {
    background-color: rgb(26, 187, 236);
  }
}

.animation {
  animation: test 0.5s;
}
